.box{
    width : 300px;
    height :400px;
    background-color: black;
    margin : 10px;
    padding: 10px;
    border-radius: 5px;
}
.flex-layout{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
}
.text{
    color : white ;
    text-align: left;

}